version: "3"

services:
  node_server:
    build: './'
    command: node src/index.js
    ports:
      - '8000:8000'
    environment:
      DEV_DB_HOST: db
      DEV_DB_PORT: 5432
      DEV_DB_USER: root
      DEV_DB_PSWD: root
      DEV_DB_NAME: boiler_room
    volumes:
      - ./src/:/usr/app/src/
      - ./package.json:/usr/app/package.json
    container_name: node_server_container

  db:
    image: postgres:9.6-alpine
    ports:
      - '5431:5432'
    environment:
      # these are PG builtin env vars
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: boiler_room

    container_name: db_container